h1{
    font-family: 'Montserrat', sans-serif;
    color: #0066FF;
    font-size: 60px;
    margin-left: 125px;
    margin-top: -700px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #0066FF;
    font-size: 40px;
    margin-left: 125px;
}
img{
    margin-left: 700px;
}